@charset "UTF-8";
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"), url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"), url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Цвета */
/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html, body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  font-family: "Nunito Sans";
  line-height: 1;
  color: rgba(51, 51, 51, 0.8);
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

/***************************************/
h1 {
  display: none;
}

.mainpage {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1278px;
  padding: 0 15px;
}

@media (max-width: 767px) {
  [class*=__container] {
    max-width: none;
    padding: 0 10px;
  }
}
/***************************************/
.header__body {
  border-bottom: 1px solid #333;
}
@media (max-width: 767px) {
  .header__body {
    border: none;
    height: 70px;
  }
}
.header__adaptive {
  padding: 20px 0;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767px) {
  .header__adaptive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__icon {
  position: relative;
  z-index: 4;
  width: 30px;
  height: 18px;
  cursor: pointer;
}
.header__icon span, .header__icon::before, .header__icon::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #333;
}
.header__icon::before, .header__icon::after {
  content: "";
}
.header__icon::before {
  top: 0;
}
.header__icon::after {
  bottom: 0;
}
.header__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}
.header__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}
.header__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}
.header__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__logo-adaptive._active {
  opacity: 0;
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 767px) {
  .menu__items {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
}
.menu__item {
  font-weight: 400;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__item_btn {
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 4px;
  padding: 8px 24px;
}
.menu__item_btn:hover {
  border: 1px solid rgb(51, 51, 51);
}
.menu__item:hover {
  color: rgba(51, 51, 51, 0.8);
}
@media (max-width: 767px) {
  .menu__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 767px) {
  .menu {
    padding: 150px 0 0 0;
    position: absolute;
    z-index: 3;
    left: -120%;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    background-color: #fff;
  }
}
.menu._active {
  left: 0;
}

/***************************************/
@media (max-width: 1099.98px) {
  .hero__body {
    padding: 0 0 20px 0;
  }
}
.slider-hero {
  position: relative;
  overflow: hidden;
}
.slider-hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.control-slider {
  position: absolute;
  z-index: 2;
  top: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
@media (max-width: 767px) {
  .control-slider {
    top: 39px;
  }
}
.control-slider__arrow-left {
  cursor: pointer;
}
.control-slider__arrow-right {
  cursor: pointer;
}

.slide-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slide-hero__left {
  padding: 173px 0 0 0;
}
@media (max-width: 767px) {
  .slide-hero__left {
    padding: 83px 0 0 0;
  }
}
.slide-hero__cat {
  margin: 0 0 8px 0;
}
.slide-hero__title {
  max-width: 604px;
  margin: 0 0 8px 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #333;
}
@media (max-width: 599.98px) {
  .slide-hero__title {
    font-size: 44px;
  }
}
.slide-hero__subtitle {
  max-width: 511px;
  margin: 0 0 48px 0;
  font-weight: 400;
  font-size: 21px;
  color: rgba(51, 51, 51, 0.8);
}
.slide-hero__right {
  max-width: 600px;
}
@media (max-width: 1099.98px) {
  .slide-hero__right {
    display: none;
  }
}
.slide-hero__img {
  width: 100%;
}
@media (max-width: 1099.98px) {
  .slide-hero {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  display: block;
  padding: 8px 24px;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn_red {
  background: #ffb6c1;
  max-width: 126px;
}
.btn_red:hover {
  color: #fff;
}

.cat {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #b76e79;
}

.arrow-left._end {
  opacity: 0.4;
}

.arrow-right._end {
  opacity: 0.4;
}

/***************************************/
.categories__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.4);
  border-top: 1px solid rgba(51, 51, 51, 0.4);
}
@media (max-width: 1099.98px) {
  .categories__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.categories__left {
  padding: 271px 125px 0 0;
}
@media (max-width: 1099.98px) {
  .categories__left {
    padding: 0px;
    -ms-flex-item-align: self-start;
        align-self: self-start;
  }
}
@media (max-width: 599.98px) {
  .categories__left {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.categories__cat {
  margin-bottom: 8px;
}
.categories__title {
  max-width: 195px;
  margin-bottom: 48px;
}
.categories__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
@media (max-width: 599.98px) {
  .categories__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.categories__item {
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 4px;
  padding: 8px 8px 16px;
}
.categories__img {
  width: 100%;
}
.categories__other {
  padding: 16px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #333;
}
.categories__arrow {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.categories__link {
  -ms-flex-item-align: center;
      align-self: center;
}
.categories__arrow:hover {
  opacity: 1;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #333;
}
@media (max-width: 719.99px) {
  .title {
    font-size: 44px;
  }
}

.btn_clear {
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 4px;
  max-width: 118px;
}
.btn_clear:hover {
  border: 1px solid rgb(51, 51, 51);
}

/***************************************/
.trending__body {
  padding: 80px 0;
}
.trending__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 719.99px) {
  .trending__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.trending__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.trending__title {
  max-width: 511px;
}
.trending__items {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 32px;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.item-trending {
  max-width: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  border: 1px solid rgba(51, 51, 51, 0.4);
  border-radius: 4px;
  padding: 8px;
}
.item-trending__img {
  width: 100%;
}
.item-trending__title {
  padding: 0px 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #333;
}
.item-trending__subtitle {
  padding: 0px 8px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: rgba(51, 51, 51, 0.8);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-trending__footer {
  padding: 12px 0px;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(51, 51, 51, 0.16);
}
.item-trending__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #333;
}